<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
</head>
<body>
<div th:fragment="quantity_control(quantityValue, productId)">
	<nav>
		<ul class="pagination">
			<li class="page-item">
				<a th:pid="${productId}" href="" class="page-link linkMinus"><b>-</b></a>
			</li>
			<li class="page-item">
				<input type="text" value="1" th:value="${quantityValue}" onkeydown="false"
				class="form-control text-center" style="width: 55px"
				th:id="'quantity' + ${productId}">
			</li>
			<li class="page-item">
				<a th:pid="${productId}" href="" class="page-link linkPlus"><b>+</b></a>
			</li>
			
		</ul>
	</nav>
</div>
</body>
</html>