<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('User - Shopme Admin')"></head>

<body>
<div class="container-fluid">
	<div>
		<div th:replace ="nav_bar :: menu">
		</div>
	
		<h2>Manage Users</h2>
		<a th:href="@{/users/new}" class="fas fa-user-plus"></a>
		&nbsp;|
		<a th:href="@{/users/export/csv}">Export to CSV</a>
		<div th:if="${message != mull}" class="alert alert-success text-center">[[${message}]]</div>
		
		<form th:action="@{/users/page/1}" >
		<div class="input-group">
  			<div class="form-outline">
    			<input type="search" name="keyword" class="form-control" />
  			</div>
  				<input type="submit" value="Search" class="btn btn-primary">
		</div>
		</form>
		<div>
			<table class="table table-bordered table-striped table-hover table-responsive-xl">
				<thead class="thead-dark">
					<tr>
						<th>UserId</th>
						<th>Photo</th>
						<th>Email</th>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Role</th>
						<th>Enable</th>
						<th></th>
					</tr>	
				</thead>
				<tbody>
					<tr th:each="user: ${listUsers}">
						<td>[[${user.id}]]</td>
						<td>
							<span th:if="${user.photos == null}" class="fal fa-id-badge"></span>
							<img th:if="${user.photos != null}" th:src="@{${user.getImg}}" width="100px"> 
						</td>
						<td>[[${user.email}]]</td>
						<td>[[${user.firstName}]]</td>
						<td>[[${user.lastName}]]</td>
						<td>[[${user.roles}]]</td>
						<td>
							<a th:if="${user.enable == true}" class="fal fa-check-circle" th:href="@{'/users/' + ${user.id} + '/enable/false'}"></a>
							<a th:if="${user.enable == false}" class="fal fa-times-circle" th:href="@{'/users/' + ${user.id} + '/enable/true'}"></a>
							
						</td>
						<td>
							<a class="fas fa-user-edit" th:href="@{'/users/edit/' + ${user.id}}">Edit</a>
						&nbsp; 
							<a class="fas fa-user-slash link-delete" th:userId="${user.id}" th:href="@{'/users/delete/' + ${user.id}}">Delete</a>
						</td>
					</tr>
					
				</tbody>
			</table>
		</div>
	</div>
</div>
<div class="text-center">
			Total User : [[${totalItem}]] - Page [[${pageNum}]] of
			[[${totalPage}]] &nbsp;  
			<span
				th:each="i: ${#numbers.sequence(1, totalPage)}"> <a
				th:if="${i != pageNum}" th:href="@{'/users/page/' +${i}}">
					[[${i}]] </a> <span th:unless="${i != pageNum}">[[${i}]] </span>
				&nbsp;&nbsp;
			</span>
</div>
<!-- 		<div class="modal fade text-center" id="confirmModal">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Delete</h4>
						<button class="close" data-dismiss="modal">&times;</button>
					</div>
					<div class="modal-body">
						<span id="confirmText"></span>
					</div>
					<div class="modal-footer">
						<button class="btn btn-success" href="">Delete</button>
						<button class="btn btn-danger" data-dismiss="modal">No</button>
					</div>
				</div>
			</div>
		</div> -->

</body>
</html>